<!-- File: templates/observer.hbs -->

<div id="observer-ui">
  <div id="observer-overlay">
    <div id="scene-banner" class="scene-banner hidden">
      <h1 id="scene-title">Loading Scene...</h1>
    </div>
    <div id="observer-roll"></div>
  </div>
</div>
